body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(15, 84, 129, 0.76);
    padding: 20px;
    text-align: center;
}

nav a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

section{
    padding: 40px;
    border: 1px solid #2d88dd;
}

#comprar{
    background-color: #633fe6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: rgba(15, 84, 129, 0.76);
    color:white;
    padding: 10px;
    text-align: center;
}